.navbar-inner {
  background: #415b85;
  border-bottom: solid 1px black;
  .brand, .nav > li > a {
    color: white;
    text-shadow: 0 1px 0 black;
  }
  
  .container {
    max-width: 960px;
    width: 68.4%
  }
  
  li {
    &.inline a {
      display: inline;
    }
  }
  
  .pull-right {
  	float: right;
    margin-right: 0;
    position: relative;
    li {
      padding: 10px 0px 10px 15px;
    }
    a {
      padding: 0 !important;
    }
  }
}