body {
  background: #efefef;
  background-image: asset-url('layout/city-bg.png', image);
  background-repeat: no-repeat;
  background-position: 50% 100%;
  background-attachment:fixed;
  background-size: 100%;
  padding-top: 60px;
  height: auto;
  font-size: 16px;
}

h2 {
  font-size: 28px;
  padding: 10px 0 20px 0
}

h3 {
  font-size: 24px;
  padding: 10px 0 20px 0
}