.modal{:id => "#report-values-#{report.id}", :style => "display: none;"}
  = simple_form_for report, :url => report_path(report), :html => {:method => :put, :class => 'form-horizontal' } do |f|
    .modal-header
      %a.close{"data-dismiss" => "modal"} ×
      %h3 Edit Report
    .modal-body
      %p Hey!
    .modal-footer
      = f.submit "Edit Report", :class => "btn"
      %a.btn{"data-dismiss" => "modal", :href => "#"} Close
