.signin, .signup {
  #form {
    padding: 25px 0 25px 0;
    border-right: 3px dashed rgba(0, 0, 0, 0.4);
    float: left;
    font-size: 12px;
    max-width: 432px;
    margin: 1em auto 1em auto;
    position: relative;
    width: 23%;
    .boolean * {
      display: inline;
    }
    
    .checkbox input[type="checkbox"] {
      margin: 0;
    }
    
    input {
      width: 160px;
      &.boolean {
        height: 11px;
        width: 20px;
      }
    }
  
    p {
      line-height: 1.7em;
      padding-top: 12px;
    }
  }
  
  #content {
    width: 70%;
    padding: 0 1.5em 0.8em 1.5em;
    float: right;
    margin-top: 1em;
    p {
      font-size: 16px;
      padding-bottom: 20px;
    }
  }

}